<%= form_for(@cruise) do |f| %>
  <% if @cruise.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cruise.errors.count, "error") %> prohibited this cruise from being saved:</h2>

      <ul>
      <% @cruise.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_field(f, :url, "e-hoi Url") %>    

  <div class="actions">
    <%= f.submit "Kreuzfahrt hinzufügen", :class => "btn primary" %>
  </div>
<% end %>
