<%- content_for :page_header do %>
    <h1>Detailansicht <small><%= @cruise.name %></small></h1>
<%- end %>

<%- if notice %>
    <div class="alert-message notice">
      <p><%= notice %></p>
    </div>
<%- end %>

<p>
  <%- if @cruise.has_screenshot %>
    <%= link_to( 
        image_tag("/images/cruises/#{@cruise.id}_preview.jpg", :width => 400, :height => 300),
        "/images/cruises/#{@cruise.id}.jpg")  %>
  <% end %>
  <span id="chart_div"></span>
</p>

<div class="actions form-stacked">
    <%= link_to "Im Web besuchen", @cruise.url, :class => "btn success" %>
    
    <%- if @cruise.has_screenshot %>
      <%= link_to "Screenshot betrachten", "/images/cruises/#{@cruise.id}.jpg", :class => "btn info" %>
    <% end %>

    <%= link_to 'Bearbeiten', edit_cruise_path(@cruise), :class => "btn" %>
    <%= link_to 'Löschen', @cruise, confirm: 'Are you sure?', method: :delete, :class => "btn danger" %>
</div>

<table>
  <thead>
    <tr>
      <th>Datum</th>
      <th>Preis</th>
    </tr>
  </thead>
  <%- @cruise.prices.each do |p|  %>
    <tr>
        <td><%= p.created_at %></td>
        <td><%= p.price %> €</td>
    </tr>
  <%- end %>
</table>




<script type="text/javascript" src="https://www.google.com/jsapi"></script>

<script type="text/javascript">
  google.load('visualization', '1.0', {'packages':['corechart']});
  google.setOnLoadCallback(drawChart);

  function drawChart() {
    var options = {'width':500, 'height':300, 'legend': {'position' : 'none'}};

      var data = new google.visualization.DataTable();
      data.addColumn('date', 'Datum');
      data.addColumn('number', 'Preis');

      <%- @cruise.prices.each do |p|  %>
        var date = new Date(<%= p.created_at.year %>, <%= p.created_at.month %>, <%= p.created_at.day %>, <%= p.created_at.hour %>, <%= p.created_at.min %>);

        data.addRow([date, <%= p.price %>]);
      <%- end %>

      var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
      chart.draw(data, options);
  }
</script>
