<p id="notice"><%= notice %></p>

<p>
  <b>Cruise:</b>
  <%= @price.cruise_id %>
</p>

<p>
  <b>Cabin type:</b>
  <%= @price.cabin_type %>
</p>

<p>
  <b>Price:</b>
  <%= @price.price %>
</p>


<%= link_to 'Edit', edit_price_path(@price) %> |
<%= link_to 'Back', prices_path %>
